In [1]:
#ques 1 creating a pandas series
import pandas as pd 
ser = pd.Series([4,8,15,16,23,42])
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#ques 2
import pandas as pd 
x=pd.Series(['omkar' , 'singh ', 'Chauhan'])
print(x)

0      omkar
1     singh
2    Chauhan
dtype: object

In [3]:
#ques 3
data = [['Alice', '25' , 'Female'],['BoB' , '30' ,'Male'],['Claire','27','Female']]
df = pd.DataFrame(data, columns=['Name','Age','Gender'])
print(df)

     Name Age  Gender
0   Alice  25  Female
1     BoB  30    Male
2  Claire  27  Female

In [4]:
#ques4 
# Pandas Data Frame is two -dimensional size-mutable,potentially hetrogeneous tabular data structure with labeled axes(rows,column)
# PandasDataFrame consist of three principal components,the data,rows and columns.
#and pandas.series is a 1-d array of data ,but a single column DataFrame is a 2D table with one column
#pandas.Series
#Creating a Series from dict
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Mon      22
Tues     23
Wed      23
Thurs    24
Fri      23
Sat      22
Sun      21
Name: series_from_dict, dtype: int64

In [5]:
#ques5
# pandas.DataFrame()
import pandas 
DataFrame = pandas.DataFrame({"A" : [1,3,4] , "B" :[5,9,12]})
print(DataFrame)

   A   B
0  1   5
1  3   9
2  4  12

In [2]:
#ques 6 
#ans - DataFrame is mutable in nature

In [3]:
#ques 7
import pandas as pd

series1 = pd.Series([1, 2, 3])
series2 = pd.Series([4, 5, 6])
series3 = pd.Series([7, 8, 9])

data = {'Column1': series1,
        'Column2': series2,
        'Column3': series3}

df = pd.DataFrame(data)

print(df)

   Column1  Column2  Column3
0        1        4        7
1        2        5        8
2        3        6        9

In [9]:
#unique and nunique function
#describe function
#sort_values function
#value_counts function
#isnull function to find NULL values
#fillna function to fill NULL values
#groupby function
#map function and its use for categorical encoding
#apply function and lambda function
#pivot function